* {
  margin: 0;
  box-sizing: border-box;
}

.parent {
  width: 90%;
  height: 200vh;
  background-color: #deb887;
  margin: 40px auto 0px;
  position: relative;
}

h1 {
  font-size: 50px;
}

.child-one {
  background-color: #b18650;
  height: 130px;
  z-index: 10;
  /* width: 150px; */
  /* position: static; defaultna vrednost pozicioniranja. */
  /* position: relative; dobijamo 4 nova CSS svojstva: */
  /* top: 40px; */
  /* bottom: ; */
  /* left: 40px; */
  /* right: ; */

  position: absolute;
  top: 20px;
  left: 500px;
}

.child-two {
  background-color: #8a7f51;
  height: 130px;
  position: fixed;
  right: 40px;
  z-index: 5;
}

.child-three {
  background-color: #f7d9b2;
  height: 130px;
  position: sticky;
  top: 40px;
}

.child-four {
  background-color: #bdb76b;
  height: 130px;
}
