/* CSS BOX model je box koji okruzuje svaki HTML ELEMENT. */
body {
  background-color: #4f5f9c;
}

.main {
  background-color: #00bbff;
  /* Opacity svojstvo daje prozirnost nasem elementu */
  /* opacity: 0.3; */
  width: 500px;
  height: 400px;
  /* Definisanje margine za sve strane. */
  /* margin: 100px; */
  /* Definisanje marigne za svaku stranu posebno. */
  /* margin-top: 100px; */
  /* margin-right: 100px; */
  /* margin-bottom: 100px; */
  /* margin-left: 100px; */
  /* Definisanje preko margin, gde dodeljujemo vise vrednosti.*/
  /* Prva vrednost je margin-top,
  druga margin-right,
  treca margin-bottom
  cetvrta margin-left */
  /* margin: 50px 100px 60px 40px; */
  /* prva vrednost je margin-top i margin-bottom
  druga za margin-right i margin-left */
  /* margin: 60px 90px; */
  /* margin: 60px 90px 120p;  */
  /* margin: auto;  centriranje elementa */
  /* margin: 40px auto; */
  /* margin: auto; */
  /* margin-top: 60px; */
  margin: 60px auto 0px;
  border: 3px solid blue;
  border-radius: 20px;
  /* border: 3px double red; */
  /* border: 3px dotted red; */
  /* border: 3px dashed red */
  /* border: 3px outset black; */
  /* Pravila za padding su ista kao za margin. */
  padding: 15px 30px;
}

.main p:nth-of-type(2) {
  font-size: 24px;
  background-color: #ae2e48;
}
